<%- include('./partials/header.ejs') %>
<section class="position-relative top-63px">
  <h2 class="font-rubik text-40px leading-52px text-center fw-bold pt-40px">
    PROJECTS
  </h2>
  <div class="d-md-grid w-md-976px justify-content-center mx-auto">
    <div class="row max-w-362px max-w-md-976px mx-auto mx-md-0 g-md-40px">
      <div
        class="col-12 col-md-4 px-0 mx-auto mx-md-0 max-w-362px max-w-md-298px bg-color3 ring-6px rounded-8px mt-24px mt-md-32px"
      >
        <img
          class="max-w-md-298px object-fit-cover"
          src="./img/the-dice-game.png"
          alt="dice-game"
          width="362"
          height="254"
        />
        <div class="p-16px">
          <h4 class="font-rubik fw-semibold text-24px">The Dice Game</h4>
          <p class="text-15px leading-24px font-poppins">
            A website using JavaScript random number practice and manipulatind
            DOM
          </p>
        </div>
        <div class="px-16px">
          <a
            target="_blank"
            href="https://sithuhtet016.github.io/The-Dicee-Game/"
          >
            <button
              class="font-rubik text-17px fw-medium leading-24px px-24px py-8px border-0 ring-4px-orange hover-ring-4px bg-color4 hover-bg-color1 rounded-4px mt-4px mb-16px"
            >
              See Project
              <i class="fa-solid fa-arrow-right rotate-315deg"></i>
            </button>
          </a>
        </div>
      </div>
      <div
        class="col-12 col-md-4 px-0 mx-auto mx-md-0 max-w-362px max-w-md-298px bg-color3 ring-6px rounded-8px mt-32px"
      >
        <img
          class="max-w-md-298px object-fit-cover"
          src="./img/the-simon-game.png"
          alt="simon-game"
          width="362"
          height="254"
        />
        <div class="p-16px">
          <h4 class="font-rubik fw-semibold text-24px">The Simon Game</h4>
          <p class="text-15px leading-24px font-poppins">
            A JavaScript-powered Simon game website for testing memory and
            pattern recognition skills.
          </p>
        </div>
        <div class="px-16px">
          <a
            target="_blank"
            href="https://sithuhtet016.github.io/The-Simon-Game/"
          >
            <button
              class="font-rubik text-17px fw-medium leading-24px px-24px py-8px border-0 ring-4px-orange hover-ring-4px bg-color4 hover-bg-color1 rounded-4px mt-4px mb-16px"
            >
              See Project
              <i class="fa-solid fa-arrow-right rotate-315deg"></i>
            </button>
          </a>
        </div>
      </div>
      <div
        class="col-12 col-md-4 px-0 mx-auto mx-md-0 max-w-362px max-w-md-298px bg-color3 ring-6px rounded-8px mt-32px"
      >
        <img
          class="max-w-md-298px object-fit-cover"
          src="./img/drum-kit.png"
          alt="drum-kit"
          width="362"
          height="254"
        />
        <div class="p-16px">
          <h4 class="font-rubik fw-semibold text-24px">The Drum Kit</h4>
          <p class="text-15px leading-24px font-poppins">
            This website showcases expert JavaScript skills in keyboard events
            and DOM manipulation for best practice.
          </p>
        </div>
        <div class="px-16px">
          <a
            target="_blank"
            href="https://sithuhtet016.github.io/Drum-Kit-JS-DOM/"
          >
            <button
              class="font-rubik text-17px fw-medium leading-24px px-24px py-8px border-0 ring-4px-orange hover-ring-4px bg-color4 hover-bg-color1 rounded-4px mt-4px mb-16px"
            >
              See Project
              <i class="fa-solid fa-arrow-right rotate-315deg"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="row max-w-362px max-w-md-976px mx-auto mx-md-0 g-md-40px">
      <div
        class="col-12 col-md-4 px-0 mx-auto mx-md-0 max-w-362px max-w-md-298px bg-color3 ring-6px rounded-8px mt-24px mt-md-32px"
      >
        <img
          class="max-w-md-298px object-fit-cover"
          src="./img/blogsite.png"
          alt="blogsite"
          width="362"
          height="254"
        />
        <div class="p-16px">
          <h4 class="font-rubik fw-semibold text-24px">
            Blog Site - Full Stack
          </h4>
          <p class="text-15px leading-24px font-poppins">
            I have created a blog site using Express.js, Node.js, and MongoDB as
            part of a small full-stack project.
          </p>
        </div>
        <div class="px-16px">
          <a target="_blank" href="https://blogsite-full-stack.onrender.com/">
            <button
              class="font-rubik text-17px fw-medium leading-24px px-24px py-8px border-0 ring-4px-orange hover-ring-4px bg-color4 hover-bg-color1 rounded-4px mt-4px mb-16px"
            >
              See Project
              <i class="fa-solid fa-arrow-right rotate-315deg"></i>
            </button>
          </a>
        </div>
      </div>
      <div
        class="col-12 col-md-4 px-0 mx-auto mx-md-0 max-w-362px max-w-md-298px bg-color3 ring-6px rounded-8px mt-32px"
      >
        <img
          class="max-w-md-298px object-fit-cover"
          src="./img/todolist.png"
          alt="todolist"
          width="362"
          height="254"
        />
        <div class="p-16px">
          <h4 class="font-rubik fw-semibold text-24px">
            Todo List - Full Stack
          </h4>
          <p class="text-15px leading-24px font-poppins">
            I have implemented a todo list project using Express.js, Node.js,
            and MongoDB as part of my full-stack development endeavor.
          </p>
        </div>
        <div class="px-16px">
          <a target="_blank" href="https://todolist-full-stack.onrender.com/">
            <button
              class="font-rubik text-17px fw-medium leading-24px px-24px py-8px border-0 ring-4px-orange hover-ring-4px bg-color4 hover-bg-color1 rounded-4px mt-4px mb-16px"
            >
              See Project
              <i class="fa-solid fa-arrow-right rotate-315deg"></i>
            </button>
          </a>
        </div>
      </div>
      <div
        class="col-12 col-md-4 px-0 mx-auto mx-md-0 max-w-362px max-w-md-298px bg-color3 ring-6px rounded-8px mt-32px"
      >
        <img
          class="max-w-md-298px object-fit-cover"
          src="./img/eduCare.png"
          alt="eduCare"
          width="362"
          height="254"
        />
        <div class="p-16px">
          <h4 class="font-rubik fw-semibold text-24px">eduCare - Frontend</h4>
          <p class="text-15px leading-24px font-poppins">
            The eduCare website serves as my HTML, CSS, and JS capstone project,
            showcasing my skills in web development.
          </p>
        </div>
        <div class="px-16px">
          <a
            target="_blank"
            href="https://sithuhtet016.github.io/eduCare-HTML-CSS/"
          >
            <button
              class="font-rubik text-17px fw-medium leading-24px px-24px py-8px border-0 ring-4px-orange hover-ring-4px bg-color4 hover-bg-color1 rounded-4px mt-4px mb-16px"
            >
              See Project
              <i class="fa-solid fa-arrow-right rotate-315deg"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="row max-w-362px max-w-md-976px mx-auto mx-md-0 g-md-40px">
      <div
        class="col-12 px-0 mx-md-0 max-w-362px max-w-md-298px bg-color3 ring-6px rounded-8px mt-32px"
      >
        <img
          class="max-w-md-298px object-fit-cover"
          src="./img/todolist-react.png"
          alt="todolist-react"
          width="362"
          height="254"
        />
        <div class="p-16px">
          <h4 class="font-rubik fw-semibold text-24px">Todo List - React</h4>
          <p class="text-15px leading-24px font-poppins">
            This todo list project serves as a practical exercise, delving into
            the application of React props and state for enhanced functionality.
          </p>
        </div>
        <div class="px-16px">
          <a target="_blank" href="https://todolist-react-0439c8.netlify.app/">
            <button
              class="font-rubik text-17px fw-medium leading-24px px-24px py-8px border-0 ring-4px-orange hover-ring-4px bg-color4 hover-bg-color1 rounded-4px mt-4px mb-16px"
            >
              See Project
              <i class="fa-solid fa-arrow-right rotate-315deg"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('./partials/footer.ejs') %>
